<div class="flex items-center mx-5 mb-5">
    <!-- <div class="w-12">
        <a routerLinkActive="bg-sky-200" class="cursor-pointer text-3xl" (click)="close()">🔙</a>
    </div> -->
    <div class="flex-1 text-center">
        <h5 class="text-xl font-bold text-red-800">
            User Profile
        </h5>
    </div>
    <!-- <div class="w-12 -m-5">
        <button (click)="close()" class="border-0 cursor-pointer">✖️</button>
    </div> -->
</div>

<div class="recent-post-list w-100 m-auto">
    <!-- <h3 class="text-lg font-bold text-blue-900">Recent Post</h3> -->
    @for (item of (userData) | keyvalue; track item.key) {
    @if(item.key != 'address' && item.key != 'company')
    {
    <div class="flex flex-row justify-around bg-red-100 rounded-md my-1 p-2">
        <div class="w-50">{{item.key | titlecase }}</div>
        <div class="w-10"> : </div>
        <div class="truncate w-210">{{ item.value }}</div>
    </div>
    }
    }
    <div class="nav-links flex flex-row justify-between items-center gap-3 py-3">
        <a href="javascript:void(0)" (click)="activeTab = 'post'"
            class="flex flex-row gap-2 justify-center items-center text-blue-800 px-5 cursor-pointer hover:text-blue-500 hover:border-b-4 hover:border-b-green-400">
            Post <span class="bg-red-100 font-bold w-10 text-center p-1 text-red-900 rounded-4xl">10</span>
        </a>
        <a
        href="javascript:void(0)" (click)="activeTab = 'albums'"
            class="flex flex-row gap-2 justify-center items-center text-blue-800 px-5 cursor-pointer hover:text-blue-500 hover:border-b-4 hover:border-b-green-400 active">
            Albums <span class="bg-red-100 font-bold w-10 text-center p-1 text-red-900 rounded-4xl">10</span>
        </a>
        <a href="javascript:void(0)" (click)="activeTab = 'todos'"
            class="flex flex-row gap-2 justify-center items-center text-blue-800 px-5 cursor-pointer hover:text-blue-500 hover:border-b-4 hover:border-b-green-400">
            Todos <span class="bg-red-100 font-bold w-10 text-center p-1 text-red-900 rounded-4xl">20</span>
        </a>
    </div>

    <div *ngIf="activeTab == 'post'"
    class="m-auto flex flex-col gap-2 justify-start w-100 h-50 overflow-y-auto">
        @for (item of display_postList; track item.id) {
        <div class="rounded-lg border-0 bg-blue-100 p-2 w-100 cursor-pointer">
            <span class="text-red-900 pb-4">{{item.title}} : </span>
            <span>{{item.body}}</span>
        </div>
        }
    </div>
</div>
<div *ngIf="activeTab == 'albums'" 
class="m-auto flex flex-col gap-2 justify-start w-100 h-50 overflow-y-auto">
    @for (item of display_albumsList; track item.id) {
    <div class="rounded-lg border-0 bg-blue-100 p-2 w-100 cursor-pointer">
        <span class="text-red-900 pb-4">{{item.title}}</span>
    </div>
    }
</div>
<div *ngIf="activeTab == 'todos'" 
class="m-auto flex flex-col gap-2 justify-start w-100 h-50 overflow-y-auto">
    @for (item of display_todosList; track item.id) {
    <div class="rounded-lg border-0 bg-blue-100 p-2 w-100 cursor-pointer">
        <p class="text-red-900">{{item.title}}</p>
        <p class="text-right pr-4">{{item.completed? 'Completed' : 'Pending'}}</p>
    </div>
    }
</div>